In [21]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/Employees.csv")
print(df)

                        NAME                 JOB TITLE       DEPARTMENT  \
0            AARON,  ELVIA J          WATER RATE TAKER      WATER MGMNT
1          AARON,  JEFFERY M            POLICE OFFICER           POLICE
2        AARON,  KIMBERLEI R  CHIEF CONTRACT EXPEDITER  FLEET MANAGEMNT
3        ABAD JR,  VICENTE M         CIVIL ENGINEER IV      WATER MGMNT
4      ABBATACOLA,  ROBERT J       ELECTRICAL MECHANIC      WATER MGMNT
...                      ...                       ...              ...
34213      ZYMANTAS,  MARK E            POLICE OFFICER           POLICE
34214   ZYNIEWICZ,  ROBERT J      CONSTRUCTION LABORER      WATER MGMNT
34215    ZYRKOWSKI,  CARLO E            POLICE OFFICER           POLICE
34216        ZYSKO,  RICHARD                LIEUTENANT             FIRE
34217    ZYSKOWSKI,  DARIUSZ   CHIEF DATA BASE ANALYST             DoIT

      EMPLOYEE ANNUAL SALARY ESTIMATED ANNUAL SALARY MINUS FURLOUGHS
0                  $81000.00                               $73862.00
1                  $74628.00                               $74628.00
2                  $77280.00                               $70174.00
3                  $96276.00                               $96276.00
4                  $84032.00                               $76627.00
...                      ...                                     ...
34213              $74628.00                               $74628.00
34214              $73216.00                               $66764.00
34215              $77238.00                               $77238.00
34216             $101958.00                              $101958.00
34217             $110352.00                              $100205.00

[34218 rows x 5 columns]